body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	background-color: #292929;
	user-select: none;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.affine {
	flex-grow: 1;
	align-self: stretch;
}
#qap {
	max-height: 95%;
	max-width: 95%;
	margin: auto;
	display: block;
}
#qap .card {
	pointer-events: visible;
	cursor: pointer;
}
#qap .card.excluded {
	pointer-events: none;
	cursor: auto;
}
#qap .card rect {
    fill: none;
}
#qap .card text {
    fill: #b55;
    font-family: sans-serif;
	dominant-baseline: central;
	text-anchor: middle;
    pointer-events: none;
}
#qap .card:not(.excluded) text {
	display: none;
}
#qap .card .diamond {
    fill: #5c9;
    pointer-events: none;
}
#qap .card:not(.in-qap) .diamond {
    display: none;
}
.controls {
	z-index: 1;
	background-color: #484848;
	align-self: stretch;
	width: 17vw;
	min-width: 200px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

	display: flex;
	flex-direction: column;
	padding: calc(3vh - 10px) 20px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.control-group {
	padding-bottom: 5px;
	margin-bottom: 5px;
    margin-top: 5px;
	border-bottom: 2px solid #595959;
}
.control-label {
	color: #999;
	font-size: 16px;
}
.control-label.clickable {
    color: #eee;
}
.control-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 2em;
}
.control-box.no-label {
    justify-content: space-between;
}
.control-display {
	color: #ccc;
	font-size: 26px;
	font-weight: bold;
}
.icon {
	color: #bbb;
	font-size: 24px;
	display: inline-block;
}
img.icon {
	filter: invert(95%);
	padding: 3px;
}
.clickable {
	cursor: pointer;
	transition: 0.15s opacity
}
.clickable.disabled {
	cursor: auto;
	opacity: 50%;
}

.clickable.toggle {
	opacity: 50%;
}
.clickable.toggle.selected {
	cursor: auto;
	opacity: 100%;
}

@media screen and (max-aspect-ratio: 1/1) {
	.container {
		flex-direction: column;
	}
	.controls {
		flex-direction: row;
		justify-content: space-between;
		flex-align: stretch;
		width: 100vw;
	}
	.control-group {
		margin-bottom: 0;
	}
}
